
.main {
    width: 90%;
    max-width: var(--width-container);
    margin: 20px auto;
    display: grid;
    grid-template-columns: .35fr 1fr;
    gap: 20px;
}

@media screen and (max-width: 930px) {
    .main {
        grid-template-columns: .4fr 1fr;
    }
}

@media screen and (max-width: 760px) {
    .main {
        grid-template-columns: .5fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    .main {
        grid-template-columns: .8fr 1fr;
    }
}

@media screen and (max-width: 400px) {
    .main {
        grid-template-columns: 1fr;
    }
}